topic:
  name: listentoyourself

server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      bootstrap-servers: 127.0.0.1:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: com.architecturepattern.listentoyourself.producer.EventSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: com.architecturepattern.listentoyourself.consumer.EventDeserializer
      auto-offset-reset: earliest

  datasource:
  #driverClassName: org.h2.Driver
  #url: jdbc:h2:mem:myDb;DB_CLOSE_DELAY=-1
    driver-classe-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/payments1?allowPublicKeyRetrieval=true&autoReconnect=true
    username: root
    password: mdymen_pass
    jpa:
      show-sql: true

hibernate:
  dialect: org.hibernate.dialect.H2Dialect
  hbm2ddl:
    auto: create


# Producer properties
#  spring.kafka.producer.bootstrap-servers=127.0.0.1:9092
#  spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
#  spring.kafka.producer.value-serializer=com.architecturepattern.listentoyourself.producer.EventSerializer
#  spring.kafka.producer.group-id=listentoyourself-groupid
#  topic.name.producer=listentoyourself
#
#  # Common Kafka Properties
#  auto.create.topics.enable=true
#
#  spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
#  spring.kafka.consumer.value-deserializer=com.architecturepattern.listentoyourself.consumer.EventDeserializer
#  spring.kafka.consumer.auto-offset-reset=earliest